body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8rem;
    color: dimgrey;
}

.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1 {
    background-image: url('../img/bg1.jpeg');
    min-height: 100%;
}

.pimg2 {
    background-image: url('../img/bg2.jpeg');
    min-height: 20rem;
}

.pimg3 {
    background-image: url('../img/bg3.jpeg');
    min-height: 20rem;
}

.section{
    text-align: center;
    padding: 1rem 2rem;
}

.section-light{
    background-color: lightgrey;
    color: #666;
}

.section-dark{
    background-color: #333;
    color: #888;
}

.ptext {
    position:absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size:  2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.ptext .border{
    background-color: #111;
    color: #FFF;
    padding: 1.4rem;
    opacity: 0.5;

}

@media(max-width: 568px){
    .pimg1, .pimg2, .pimg3{
        background-attachment: scroll;
    }
}